@charset "ISO-8859-1";

body{

	background: url('http://a52.idata.over-blog.com/2/25/98/74/01-janvier/3862-astronomie-vue-de-la-terre-WallFizz.jpg');

	background-size:100%;

  	background-color: opacity 0.7;

}





img {

	width : 400px;

	height : 400px;

	margin-left : 750px;

	opacity : 0.7;	

	border-radius : 200px;	

	margin-bottom : 100px;		

}



#conteneur{

	margin : auto; 

	display : flex;

	flex-direction : column;

}



#intitule{

	border : 2px solid white;

	border-radius : 10px;

	font-weight : bold;

	font-family : Arial;

	font-size : 40px;

	display : flex;

	justify-content : space-around;

	background-color : rgba(192,192,192,0.7);

	margin-bottom : 120px;

	text-transform : uppercase;	

	text-shadow : 2px 2px 4px red;

	color : white;
	
	text-align: center;
	
}



#infos {	

	font-weight : bold;

	font-family : Arial;

	font-size : 40px;

	text-align : center;

}



a + p {

	color : red;

}











